.header {
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.body {
    margin: 0%;
}

div.logo-banner {
    /* display: flex;*/
    background: #ffffff;
    /*background-color: #e6294f;*/
    max-height: 150px;
    align-items: center;
    justify-content: center;

}

div.logo-banner img {
    width: 100%;
    max-width: 1000px;
    /*min-height: 100px;
    /* Image width will be relative to its container */
    height: auto;
    /* Maintain the image's aspect ratio */
}

.game_selection_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.select_game_section_title {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 200%;
}

.game_options_section {
    display: flex;
    flex-flow: wrap;
    max-width: 80%;
    align-items: center;
    justify-content: center;
}

.game_option_card {
    flex: 1;
    position: relative;
    margin: 2%;
    min-width: 50vmin;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game_option_card:hover {
    box-shadow: 5px 5px 10px 0px #858585;
    cursor: pointer;
}

.game_option_image_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.game_option_image {
    width: 100%;
    max-width: 100%;
    /* Image width will be relative to its container */
    height: auto;
    /* Maintain the image's aspect ratio */
}

.game_option_title {
    background-color: #ffffff9a;
    position: absolute;
    top: 0%;
    left: 5%;
    font-family: Arial, Helvetica, sans-serif;
    font: bolder;
    font-size: 3vmin;
}

.unmovable_container {
    position: absolute;
    top: 0px;
    left: 0px;
    max-width: fit-content;
}

.cursor_moving_around_section {
    position: relative;
}

.cursor_image_container {
    position: absolute;
}

.cursor_image_container img {
    max-width: 18px;
}

/*This canvas style is modify and make as small as possible a section of the html code
that is created by the P5 library*/
canvas {
    max-height: 0;
}

footer {
    margin-top: 5%;
    padding: 2%;
    background-color: #000000;
    color: rgb(200, 200, 200);
    display: flex;
    justify-content: center;
}